/*CUSTOM COMPONENTS FOR MDB*/

/*CONTENT*/
/*Used to assign the right margins to elements displayed under the .navbar css class*/
.mdbc-content {
    margin-top: 61px !important;
    -webkit-transition: margin-top .5s ease-in-out, max-height .5s ease;
    -moz-transition: margin-top .5s ease-in-out, max-height .5s ease;
    transition: margin-top .5s ease-in-out, max-height .5s ease;
}

.mdbc-navbar.top-nav-collapse + div .mdbc-content {
    margin-top: 45px !important;
}

@media only screen and (max-width: 992px) {
    .mdbc-content {
        margin-top: 45px !important;
    }
}

/*SIDENAV*/

.mdbc-sidenav {
    top: 0;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 16px;
    top: 45px;
    max-height: calc(100vh - 45px);
}

@media (min-width: 992px) {
    .mdbc-sidenav {
        z-index: 1;
        transform: translateX(0) !important;
    }
}

/*SIDEBAR*/
/*Used generally to present data to either side of the screen*/
/*Css function 'calc' is used for max-height, with the following values: screen full height and navbar height*/
.mdbc-sidebar {
    overflow: auto;
    max-height: calc(100vh - 45px);
    position: fixed;
    top: 45px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
}

.mdbc-sidebar-left {
    left: 0;
}

.mdbc-sidebar-right {
    right: 0;
}

/* Sidebar navigation */
.mdbc-sidebar {
    padding-left: 0;
    padding-right: 0;
}

    .mdbc-sidebar .nav {
        margin-bottom: 20px;
    }

    .mdbc-sidebar .nav-item {
        width: 100%;
    }

        .mdbc-sidebar .nav-item + .nav-item {
            margin-left: 0;
        }

    .mdbc-sidebar .nav-link {
        border-radius: 0;
    }

/*SIDEBAR END*/

/*NOT AVAILABLE*/
/*Used when a screen or something else in the software is not available*/
.not-available {
    z-index: 100000;
    background-color: rgba(238, 238, 238, 1);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
}

    /*Css function 'calc' is used for margin-top, with the following values: screen half height, and the card half height*/
    .not-available .card {
        width: 300px;
        margin: auto;
        margin-top: calc(50vh - 150px);
    }
/*NOT AVAILABLE END*/

/*CHAT*/
/*Used to embed a chat into a View*/
.mdbc-chat-input {
    border-top: 1px solid #cccccc;
    padding-top: 0 !important;
}

    .mdbc-chat-input .md-form {
        margin: 0;
    }

    .mdbc-chat-input textarea {
        padding-top: 1rem;
        padding-bottom: 1rem;
        overflow: auto;
        height: auto;
        min-height: 0;
    }

/*
    Css function 'calc' is used for height and max-height, with the following values: 
    screen full height, textarea height (including margin), navbar height and mdbc-userbox height*/
.mdbc-chat-messages {
    height: calc(100vh - 100px - 61px);
    max-height: calc(100vh - 100px - 61px);
}

@media only screen and (max-width: 992px) {
    .mdbc-chat-messages {
        height: calc(100vh - 100px - 45px);
        max-height: calc(100vh - 100px - 45px);
    }
}
/*CHAT END*/

/*USERBOX*/
/*
    Used to display a image and/or a title. 
    Preferably used to display a profile (user, client, etc..) photo and/or name
*/
.mdbc-userbox {
    padding: 20px 20px 10px 20px;
    background-color: #ddd;
}

    .mdbc-userbox.halfpad {
        padding: 10px 10px 5px 10px;
    }

    .mdbc-userbox .mdbc-pic {
        width: 50px;
        margin-bottom: 20px;
    }

/*USERBOX END*/

/*NESTED LIST*/
/*
    Used to display data in jierarchy
*/

.mdbc-nestedlist {
    overflow: auto;
    padding: 2rem 1rem;
    line-height: 30px;
    font-size: 0.9rem;
    max-height: calc(100vh - 61px - 94px);
    margin: 0 -1rem;
}

    .mdbc-nestedlist .title small {
        font-size: small;
        vertical-align: middle;
    }

    .mdbc-nestedlist .header .icon {
        margin-right: 20px;
    }

        .mdbc-nestedlist .header .icon.fa {
            margin-left: 4px;
            font-size: 20px;
        }

    .mdbc-nestedlist > li > ul {
        margin: 10px 0;
        list-style-type: disc;
    }

        .mdbc-nestedlist > li > ul:not(.header) > li {
            list-style-type: disc;
            margin-left: 25px;
            padding-left: 20px;
        }

    .mdbc-nestedlist > li > a {
        display: block;
        font-size: 0.9rem;
        height: auto;
        line-height: normal;
        padding-left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .mdbc-nestedlist hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border-color: #dae4ee;
    }


@media only screen and (max-width: 992px) {
    .mdbc-nestedlist {
        line-height: 30px;
        font-size: 0.9rem;
        max-height: calc(100vh - 92px);
    }
}
/*NESTED LIST END*/

.mdbc-table {

}
    .mdbc-table tr td, .mdbc-table tr th{
        font-weight:normal;
    }

    .mdbc-table tr td:first-child, .mdbc-table tr th:first-child {
        padding-left: 2rem;
    }

    .mdbc-table tr td:last-child, .mdbc-table tr th:last-child {
        padding-right: 2rem;
    }
    
    .mdbc-table tr td a {
        margin: 0;
    }  

        .mdbc-table tr td .material-icons {
            font-size: 1rem;
        }  

        .mdbc-table tr td button {
            padding: 0;
            margin: 0;
        }  

    .mdbc-table tr td .btn-flat {
        padding: 8px 15px;
    }

.mdbc-input-inline {
    width: 45px !important;
    display: inline;
    padding: 0;
    margin: 0;
}



.mdbc-autosave-label {
    min-width: 180px;
}

/*OVERRIDES*/

/*Used to make the tab-content element height equal to the display of the browser*/
/*Css function 'calc' is used, with the following values: screen full height, .tab-wrapper height, padding-top value and navbar height*/
.tab-content.mdbc-tab-content {
    min-height: calc(100vh - 62px - 15px - 61px);
    padding-bottom: 8%;
}

    .tab-content.mdbc-tab-content .fixed-action-btn {
        right: 20%;
    }

.navbar.mdbc-navbar .float-left {
    display: inherit;
}

main.mdbc-main {
    padding-top: 15px;
}

span.mdbc-validation-error {
    min-height: 24px;
    display: block;
}

.mdbc-table .mdbc-actions {
    padding-left: 0;
    min-width: 80px;
}

.mdbc-table-addrow {
}

    .mdbc-table-addrow td {
        padding: 0 .75rem;
    }

        .mdbc-table-addrow td input {
            margin: 0 0 10px 0;
        }

        .mdbc-table-addrow td.mdbc-actions {
            padding-top: 16px;
        }

        .mdbc-table-addrow td.mdbc-actions button{
            border: none;
            cursor: pointer;
        }

        .mdbc-table-addrow td.mdbc-actions a{
            margin: 0;
        }

body.modal-open {
    overflow: hidden !important;
}

.classic-tabs {
    overflow-x: auto !important;
}

.mdbc-modal-action {
    position:absolute;
    right: 15px;
    text-shadow: 0 1px 0 #fff;
}

    .mdbc-modal-action .close {
        position: relative;
        right: 0;
    }

    .mdbc-modal-action > a {
        padding: 0 5px;
        color: #000;
        opacity: .5;
    }

    .mdbc-modal-action > a:hover {
        opacity: 1;
    }

.loader-container {
    padding: 3rem;
}

.mdb-autocomplete-wrap {
    min-width: 180px;
    text-align: left;
}
@media only screen and (max-width: 992px) {
    .tab-content.mdbc-tab-content {
        min-height: calc(100vh - 77px - 45px);
    }

        .tab-content.mdbc-tab-content .fixed-action-btn {
            right: 28%;
            bottom: 2%;
        }
}

@media (min-width: 576px) and (max-width: 992px) {
    .mdbc-modal .modal-dialog {
        max-width: 95%;
    }
}
/*OVERRIDES END*/

/*UTILITIES*/

.mdbc-icon-md {
    font-size: 1.5rem !important;
}

.mdbc-sidenav-s {
    width: 20%;
}

.mdbc-sidenav-m {
    width: 40%;
}

.mdbc-sidenav-l {
    width: 60%;
}

.mdbc-absolute {
    position: absolute;
    padding: 10px 0;
}

    .mdbc-absolute.left {
        left: 0;
    }

    .mdbc-absolute.bottom {
        bottom: 0;
    }

    .mdbc-absolute.right {
        right: 0;
    }

.mdbc-margintop-10 {
    margin-top: 10px;
}

.mdbc-zindex-10 {
    z-index: 10;
}

.mdbc-nomargin {
    margin: 0 !important;
}

.mdbc-pad-10 {
    padding: 10px;
}

.mdbc-nopad {
    padding: 0 !important;
}

.mdbc-alittlesmaller {
    font-size: 0.9em !important;
}

.mdbc-sidenav-btn {
    display: block;
    position: relative;
    font-size: 1.4rem !important;
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 10px;
}

.mdbc-btn-fullwidth {
    font-size: 0.7em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

    .mdbc-btn-fullwidth.mdbc-nomargin {
        font-size: 1em;
        width: 100%;
    }
/*UTILITIES END*/
