@model IEnumerable<IFarmacias.Models.MedicationInfoResponse>

<div class="col-12">

    @if (Model != null && Model.Any())
    {
        <h3><strong>Medicacao do utente</strong></h3>
        <div class="col-12 mdbc-nopad text-right">
            <br />
            <table class="table z-depth-1 mdbc-table table-hover">
                <thead>
                    <tr class="grey-text text-darken-1">
                        <td class="text-left">Nome do medicamento</td>
                        <td>Qtd restante</td>
                        <td>Posologia</td>
                        <td>Esgota em</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr>
                            <td class="text-left">@item.MedicationName</td>
                            <td>@item.RemainingQtd</td>
                            <td>@item.Posology</td>
                            <td>@item.EndIn</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="col-4 offset-4 text-center">
            <br />
            <br />
            <br />
            <br />
            <div class="offset-1 col-10">
                <img class="col-12" src="~/Content/Images/logo.png" />
            </div>
            <br />
            <h3>Não existem dados</h3>
        </div>
    }
</div>

<div class="fixed-action-btn">
    <a class="btn-flat white red-text waves-effect z-depth-1" data-toggle="modal" data-target="#modalNotificarUtente">Notificar Utente</a>
</div>
